<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs my-4 subNav" dir="rtl" (navChange)="onTabChange($event)">
  <li [ngbNavItem]="1">
    <a ngbNavLink>المجلدات الموجوده بالسيرفر</a>
    <ng-template ngbNavContent>


      <div *ngIf="(folders.length > 0 && active == 1) else NoDataStorage">

        <h1 class="h3 my-3 font-weight-normal text-center text-info">المجلدات الموجوده بالسيرفر</h1>

        <!-- Search input -->
        <div class="form-group my-3 mt-5">
          <input type="text" class="form-control" placeholder="ابحث عن مجلد" [(ngModel)]="searchTerm"
            (keyup)="currentPage = 1;" />
        </div>

        <div style="overflow: auto;">

          <table class="table table-bordered table-striped text-center align-content-center" dir="rtl"
            *ngIf="filteredFolders().length > 0">
            <thead class="thead-dark">
              <tr>
                <th>م</th>
                <th>اسم المجلد</th>
                <th>المسار الكامل</th>
                <th>الإجراءات</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="let group of filteredFolders() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let groupIndex = index">
                <!-- Render Parent Folder -->
                <tr class="bg-danger text-white">
                  <td>{{ getIndex(groupIndex)}}</td>
                  <td>{{ group.parentFolder }} <span class="text-warning">(مجلد رئيسي)</span></td>
                  <td>{{ group.parentFolder }}</td>
                  <td>
                    <button (click)="downloadFileNames(group.parentFolder, group.parentFolder)"
                      class="btn btn-outline-success btn-sm"><img src="assets/svgs/document.svg" alt="downloadFileNames"
                        width="40"></button>

                    <button (click)="deleteFolder(group.parentFolder)" class="btn btn-outline-warning btn-sm mr-3"><img
                        src="assets/svgs/trash.svg" alt="delete" width="40"></button>

                  </td>
                </tr>

                <!-- Render Subfolders -->
                <ng-container *ngFor="let subFolder of group.subFolders; let subIndex = index">
                  <!-- Skip rendering the root folder in the subfolder list -->
                  <tr *ngIf="subFolder !== group.parentFolder" class="bg-light">
                    <td>{{ getIndex(groupIndex) }}.{{ subIndex + 1 }}</td>
                    <td [style.padding-right.px]="20">{{ getFolderName(subFolder) }}</td>
                    <td>{{ subFolder | json }}</td>
                    <td>

                      <button (click)="downloadFileNames(subFolder, subFolder)"
                        class="btn btn-outline-success btn-sm"><img src="assets/svgs/document.svg"
                          alt="downloadFileNames" width="40"></button>

                      <button (click)="exportAllPhotos(subFolder, subFolder)"
                        class="btn btn-outline-success btn-sm mr-3"><img src="assets/svgs/gallery.svg"
                          alt="exportAllPhotos" width="40"></button>

                      <button (click)="deleteFolder(subFolder)" class="btn btn-outline-info btn-sm mr-3"><img
                          src="assets/svgs/trash.svg" alt="delete" width="40"></button>

                    </td>
                  </tr>
                </ng-container>

                <!-- Separator Between Folder Groups -->
                <tr>
                  <td colspan="4">
                    <hr />
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <pagination-controls dir="rtl" (pageChange)="currentPage = $event"
          class="my-4 d-flex justify-content-center custom-pagination" previousLabel="السابق" nextLabel="التالي">
        </pagination-controls>

      </div>

      <!-- Display message if no files found -->
      <ng-template #NoDataStorage>
        <p class="h3 my-3 text-center text-danger">
          {{searchTerm ? 'عفوًا لا توجد بيانات للطلاب الذي تم البحث عنهم'
          :folders ? 'لا توجد مجلدات بالسيرفر'
          : ""}}</p>
      </ng-template>

    </ng-template>
  </li>

  <li [ngbNavItem]="2">
    <a ngbNavLink>المجلدات الموجوده بقاعدة البيانات</a>
    <ng-template ngbNavContent>

      <div class="form-group my-3 text-center" *ngIf="superAdminCheck">

        <button class="btn btn-outline-info btn-sm mr-3"><img src="assets/svgs/excludeExcel.svg" alt="delete" width="60"
            (click)="uploadExcel('remove')"></button>

        <button class="btn btn-outline-info btn-sm mr-3"><img src="assets/svgs/appendExcel.svg" alt="upload" width="60"
            (click)="uploadExcel('upload')"></button>

        <button (click)="downloadDefaultExcel()" class="btn btn-outline-info my-4"><img src="assets/svgs/excel.svg"
            width="60" alt="excel"></button>

      </div>

      <div *ngIf="(foldersRealDatabase.length > 0 && active == 2) else NoData">

        <h1 class="h3 my-3 font-weight-normal text-center text-info">المجلدات الموجوده بقاعدة البيانات <span
            class="text-danger">وعددهم
            {{studentsNumber}}</span></h1>

        <!-- Search input -->
        <div class="form-group my-3 mt-5">
          <input (keyup)="currentPage = 1" type="text" class="form-control" placeholder="ابحث عن مجلد أو رقم قومي"
            [(ngModel)]="searchTerm" />
        </div>
        <div style="overflow: auto;">
          <table class="table table-bordered table-striped text-center align-content-center" dir="rtl"
            *ngIf="getFlattenedData().length > 0 else NoData">
            <thead class="thead-dark">
              <tr>
                <th>م</th>
                <th>اسم المجلد / الرقم القومي</th>
                <th>قائمة الأرقام القومية / بيانات المجلد الفرعي</th>
                <th>الإجراءات</th>
              </tr>
            </thead>
            <tbody>
              <!-- Flattened data loop with pagination -->
              <ng-container
                *ngFor="let item of getFlattenedData() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">

                <!-- Folder row -->
                <tr *ngIf="item.isFolder" class="bg-danger text-white">
                  <td>{{ item.folderIndex +1 }}</td>
                  <td>{{ item.folderName }} <span class="text-warning">(مجلد رئيسي)</span></td>
                  <td>
                    <ul>
                      <li *ngFor="let id of item.nationalIds">{{ id }}</li>
                    </ul>
                  </td>
                  <td>
                    <button (click)="deleteFolder('Class2024Intership/' + item.folderName + '/', 'realtimeDatabase')"
                      class="btn btn-outline-warning btn-sm">
                      <img src="assets/svgs/trash.svg" alt="delete" width="40">
                    </button>
                  </td>
                </tr>

                <!-- National ID row -->
                <tr *ngIf="!item.isFolder" class="bg-light">
                  <td> {{ item.folderIndex + 1 }}.{{ item.idIndex }}</td>
                  <td>{{ item.id }} ({{item.subFolderData.ClassMonth}})</td>
                  <td style="width: 370px;" dir="ltr">{{ item.subFolderData | json }}</td>
                  <td>
                    <button (click)="goEdit(item.subFolderData.ClassMonth, item.id)"
                      class="btn btn-outline-warning btn-sm">
                      <img src="assets/svgs/edit.svg" alt="edit" width="40">
                    </button>

                    <button
                      (click)="deleteFolder('Class2024Intership/' + item.subFolderData.ClassMonth + '/' + item.id, 'realtimeDatabase')"
                      class="btn btn-outline-info btn-sm mr-3">
                      <img src="assets/svgs/trash.svg" alt="delete" width="40">
                    </button>
                  </td>
                </tr>

              </ng-container>
            </tbody>
          </table>
        </div>
        <!-- Pagination controls -->
        <pagination-controls dir="rtl" (pageChange)="currentPage = $event"
          class="my-4 d-flex justify-content-center custom-pagination" previousLabel="السابق" nextLabel="التالي">
        </pagination-controls>
      </div>

      <ng-template #NoData>
        <p class="h3 my-3 text-center text-danger">لا توجد بيانات بقاعدة البيانات</p>
      </ng-template>

    </ng-template>
  </li>

  <li [ngbNavItem]="3">
    <a ngbNavLink>صلاحيات الأدمن</a>
    <ng-template ngbNavContent>
      <app-admin-manage *ngIf="active == 3"></app-admin-manage>
    </ng-template>
  </li>

</ul>
<div [ngbNavOutlet]="nav"></div>