<form class="form-signin" [formGroup]="idForm">
  <div class="text-center mb-4">
    <img *ngIf="searchResult && image" class="mb-4" src="{{image}}" alt="" width="200" height="200">
    <img *ngIf="!searchResult" src="assets/svgs/viewEdit.svg" alt="" width="100" height="100">
  </div>

  <div [hidden]="searchResult" class="form-label-group">
    <h1 class="h3 my-5 font-weight-normal text-center text-info">ادخل رقمك القومي</h1>
    <input #inputId (keyup)="typingId($event.target)" type="number" id="id" class="form-control"
      placeholder="ادخل رقمك القومي" formControlName="id">

    <ng-container *ngIf="id.touched && id.dirty" class="my-4">
      <p class="h6 text-danger float-right" *ngIf="id.errors?.['required']">يجب ملئ هذا الحقل</p>
      <p class="h6 text-danger float-right" *ngIf="id.errors?.['pattern']">الرجاء كتابة
        الرقم القومي بشكل صحيح</p>

    </ng-container>
  </div>
  <button [hidden]="searchResult" [disabled]="id.invalid" (click)="onSearch()"
    class="btn btn-lg btn-primary btn-block mt-4" type="submit">بحث</button>
  <div *ngIf="notFound" class="shadow p-3 mb-5 bg-danger text-center text-white rounded h5 mt-4">
    لا يوجد تعديل مسجل علي هذا الرقم القومي <a href="https://form.jotform.com/241595019999575">اضغط هنا</a> لتقوم
    بالتعديل مره اخرى.
  </div>

</form>

<ng-container *ngIf="searchResult">

  <div *ngIf="searchResult[1]" class="mb-3 text-right">
    <label for="username">الإسم</label>
    <div class="input-group">
      <input type="text" value="{{searchResult[1]}}" readonly class="form-control" id="username" placeholder="الإسم">
    </div>
  </div>

  <div *ngIf="searchResult[2]" class="mb-3 text-right">
    <label for="id">الرقم القومي</label>
    <div class="input-group">
      <input value="{{searchResult[2]}}" type="number" readonly class="form-control" id="id" placeholder="الرقم القومي">
    </div>
  </div>

  <div *ngIf="searchResult[4]" class="mb-3 text-right">
    <label for="birthDate">تاريخ الميلاد</label>
    <div class="input-group">
      <input value="{{searchResult[4]}}" type="text" readonly class="form-control" id="birthDate"
        placeholder="birthDate">
    </div>
  </div>

  <div *ngIf="searchResult[3]" class="mb-3 text-right">
    <label for="birthRegion">محل الميلاد</label>
    <div class="input-group">
      <input value="{{searchResult[3]}}" type="text" readonly class="form-control" id="birthRegion"
        placeholder="birthRegion">
    </div>
  </div>
  <button class="btn btn-lg btn-danger btn-block mt-4" (click)="searchResult = null">العوده</button>

</ng-container>