<div *ngIf="auth || !comingSoon">

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#0066cc" type="ball-square-clockwise-spin"
    [fullScreen]="true">
    <p style="color: white"> جارى التحميل ... </p>
  </ngx-spinner>


  <app-nav-bar *ngIf="auth"></app-nav-bar>
  <p class="h3 my-3 text-center text-danger">ارجوا الدعاء للوالدة بالشفاء العاجل</p>

  <div class="container my-4">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

</div>

<app-coming-soon *ngIf="!auth && comingSoon"></app-coming-soon>