.modal-header {
  place-content: center;
  color: #004687;
}

.close{
  right: 16px;
  position: absolute;
  font-size: 32px;
}

.modal-title {
  border-bottom: 3px solid #bbf912;
}
/*//////////////Body////////////////*/


.modal-footer{
  justify-content: center;

}

