<form [formGroup]="settingsForm">
  <div class="text-right" *ngIf="superAdminCheck">
    <div class="h5 text-info">
      <label for="basic-url">الفرقة</label>
    </div>
    <div class="input-group input-group-lg mb-3">
      <div class="input-group-prepend" role="button">
        <img
          src="assets/svgs/trash.svg"
          (click)="delete('deleteClass')"
          width="64"
          alt="delete"
          class="input-group-text"
          for="inputGroupSelect02"
        />
        <img
          src="assets/svgs/add.svg"
          (click)="add('addClass')"
          width="64"
          alt="add"
          class="input-group-text"
          for="inputGroupSelect02"
        />
        <img
          src="assets/svgs/edit.svg"
          (click)="edit('editClass')"
          width="64"
          alt="edit"
          class="input-group-text"
          for="inputGroupSelect02"
        />
      </div>
      <select
        class="custom-select"
        id="inputGroupSelect02"
        formControlName="class"
        (change)="changeClass()"
      >
        <option value="0">اختر</option>
        <option *ngFor="let class of classes" [value]="class.key">
          {{ class.value.name }}
        </option>
      </select>
    </div>
    <button
      *ngIf="class.value !== '0'"
      type="button"
      dir="rtl"
      class="btn btn-lg btn-block mb-3"
      [class.btn-outline-success]="!allowAnonymousStatus"
      [class.btn-success]="allowAnonymousStatus"
      (click)="changeAllowAnonymous()"
    >
      {{ allowAnonymousStatus ? 'ايقاف التسجيل المفتوح (التقديم المباشر)' : 'تفعيل التسجيل المفتوح (التقديم المباشر)' }}
    </button>
  </div>

  <div class="text-right" *ngIf="superAdminCheck">
    <div class="h5 text-info">
      <label for="basic-url">الأدوار</label>
    </div>
    <div class="input-group input-group-lg mb-3">
      <div class="input-group-prepend" role="button">
        <img
          src="assets/svgs/trash.svg"
          (click)="delete('deleteSubClass')"
          width="64"
          alt="delete"
          class="input-group-text"
          for="inputGroupSelect02"
        />
        <img
          src="assets/svgs/add.svg"
          (click)="add('addSubClass')"
          width="64"
          alt="add"
          class="input-group-text"
          for="inputGroupSelect02"
        />
        <img
          src="assets/svgs/edit.svg"
          (click)="edit('editSubClass')"
          width="64"
          alt="edit"
          class="input-group-text"
          for="inputGroupSelect02"
        />
      </div>
      <select
        class="custom-select"
        id="inputGroupSelect02"
        formControlName="subClass"
        (change)="changeSubClass()"
        [disabled]="class.value === '0'"
      >
        <option value="0">اختر</option>
        <option *ngFor="let subClass of subClasses" [value]="subClass.key">
          {{ subClass.value.name }}
        </option>
      </select>
    </div>
    <button
      *ngIf="subClass.value !== '0'"
      type="button"
      dir="rtl"
      class="btn btn-lg btn-block mb-3"
      [class.btn-outline-success]="!allowAnonymousSubClassStatus"
      [class.btn-success]="allowAnonymousSubClassStatus"
      (click)="changeAllowAnonymousSubClass()"
    >
      {{ allowAnonymousSubClassStatus ? 'ايقاف التسجيل المفتوح (الأدوار)' : 'تفعيل التسجيل المفتوح (الأدوار)' }}
    </button>
  </div>

  <div class="text-right" *ngIf="superAdminCheck">
    <div class="h5 text-info">
      <label for="basic-url">الخيارات</label>
    </div>
    <div class="input-group input-group-lg mb-3">
      <div class="input-group-prepend" role="button">
        <img
          src="assets/svgs/trash.svg"
          (click)="delete('deleteOption')"
          width="64"
          alt="delete"
          class="input-group-text"
          for="inputGroupSelect02"
        />
        <img
          src="assets/svgs/add.svg"
          (click)="add('addOption')"
          width="64"
          alt="add"
          class="input-group-text"
          for="inputGroupSelect02"
        />
        <img
          src="assets/svgs/edit.svg"
          (click)="edit('editOption')"
          width="64"
          alt="edit"
          class="input-group-text"
          for="inputGroupSelect02"
        />
      </div>
      <select
        class="custom-select"
        id="inputGroupSelect02"
        formControlName="option"
        [disabled]="class.value === '0'"
      >
        <option value="0">اختر</option>
        <option *ngFor="let option of options" [value]="option.key">
          {{ option.value.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="text-right">
    <div class="h5 text-info">
      <label for="basic-url">الفرقة الحالية</label>
    </div>
    <div class="input-group input-group-lg mb-3">
      <div class="input-group-prepend" role="button">
        <img
          src="assets/svgs/checkMark.svg"
          (click)="changeCurrentClass()"
          width="64"
          alt="checkMark"
          class="input-group-text"
          for="inputGroupSelect02"
        />
      </div>
      <select
        class="custom-select"
        id="inputGroupSelect02"
        formControlName="currentClass"
      >
        <option value="0">اختر</option>
        <option *ngFor="let class of classes" [value]="class.key">
          {{ class.value.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="text-right" *ngIf="superAdminCheck">
    <div class="h5 text-info">
      <label for="basic-url">الفرقة الإفتراضية</label>
    </div>
    <div class="input-group input-group-lg mb-3">
      <div class="input-group-prepend" role="button">
        <img
          src="assets/svgs/checkMark.svg"
          (click)="changeDefaultClass()"
          width="64"
          alt="checkMark"
          class="input-group-text"
          for="inputGroupSelect02"
        />
      </div>
      <select
        class="custom-select"
        id="inputGroupSelect02"
        formControlName="defaultClass"
      >
        <option value="0">اختر</option>
        <option *ngFor="let class of classes" [value]="class.key">
          {{ class.value.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="footer" *ngIf="superAdminCheck">
    <button
      type="button"
      dir="rtl"
      class="btn btn-outline-danger btn-lg btn-block mt-3"
      aria-haspopup="true"
      aria-expanded="false"
      (click)="changeComingSoon()"
    >
      {{ comingSoonStatus ? 'ايقاف Coming Soon' : 'تفعيل Coming Soon' }}
    </button>
  </div>
</form>
