<div>
  <div class="modal-header">
    <h4 *ngIf="deleteSvg" class="modal-title">تأكيد الحذف</h4>
    <h4 *ngIf="warningSvg" class="modal-title">انتباه</h4>
    <button (click)="activeModal.close()" class="close" type="button" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <img *ngIf="deleteSvg" class="svg" src="assets/svgs/delete.svg" alt="delete">

      <img *ngIf="warningSvg" class="svg" src="assets/svgs/warning.svg" alt="warning">

    </div>
    <br>
    <div class="row">
      <h4 style="color: #004687" dir="rtl">{{message}}</h4>
    </div>

  </div>

</div>

<div class="modal-footer">
  <button (click)="activeModal.close()" class="btn btn-outline-danger btn-lg" style="width: 150px;">إلغاء</button>
  <button (click)="confirm()" class="btn btn-outline-primary btn-lg" style="width: 150px;">تأكيد</button>
</div>