<form class="form-signin text-center" [formGroup]="userForm" (submit)="onSubmit(userForm.value)">

  <label for="image" class="h3 mb-4 text-info">تعديل بيانات الطالب ({{data?.NationalId}})</label>

  <div class="input-group mb-2 justify-content-center text-center">
    <img class="rounded-lg" role="button" src={{defaultImage}} width="200" height="200" id="image"
      (click)="imageUploader.click()">
  </div>
  <label *ngIf="!data?.Image" for="image" class="h5 mb-4 text-warning">اضغط اعلي لرفع الصورة☝️☝️☝️</label>

  <div class="mb-3 text-right" hidden>
    <label for="image">ارفع الصورة</label>
    <div class="input-group">
      <input class="form-control" type="file" id="image" #imageUploader (change)="onFileChange($event)"
        accept="image/png, image/jpg, image/jpeg">
    </div>
  </div>

  <div class="mb-3 text-right">
    <label for="username">الإسم</label>
    <div class="input-group">
      <input type="text" class="form-control" id="Name" formControlName="Name" placeholder="الإسم">
    </div>
  </div>

  <div class="mb-3 text-right">
    <label for="PlaceOfBirth">محل الميلاد</label>
    <div class="input-group">
      <input type="text" class="form-control" id="PlaceOfBirth" formControlName="PlaceOfBirth"
        placeholder="محل الميلاد">
    </div>
  </div>

  <div class="mb-3 text-right">
    <label for="id">الرقم القومي</label>
    <div class="input-group">
      <input type="number" readonly class="form-control" id="NationalId" formControlName="NationalId"
        placeholder="الرقم القومي">
    </div>
  </div>

  <div class="mb-3 text-right">
    <label for="DateOfBirth">تاريخ الميلاد</label>
    <div class="input-group">
      <input class="form-control" readonly placeholder="yyyy-mm-dd" [value]="DateOfBirth.value"
        (dateSelect)="onChangeDate($event)" ngbDatepicker #d="ngbDatepicker"
        [minDate]="{ year: 1900, month: 1, day: 1 }" [maxDate]="{ year: 2099, month: 12, day: 31 }" />

      <button class="btn btn-outline-secondary" disabled (click)="d.toggle()" type="button"><img
          src="assets/svgs/calendar3.svg" alt="calender" /></button>

    </div>
  </div>

  <button class="btn btn-lg btn-primary btn-block mt-4" type="submit"
    [disabled]="!userForm.valid || (!selectedImage && !userForm.dirty && !selectedDate)">ارسال</button>
  <button class="btn btn-lg btn-danger btn-block mt-4" (click)="goBack()" type="button">العوده</button>
</form>