<footer class="my-2 pt-2 text-secondary text-center text-small border-top">

  <p class="mb-1 h5">© {{previousYear}}-{{currentYear}} <a target="_blank" target="_blank"
      href="https://www.facebook.com/eslam.ghazi.7">Ghazi</a></p>

  <ul class="list-inline mt-2">
    <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/eslam.ghazi.7"><img
          src="assets/svgs/facebook.svg" class="mr-3" alt="facebook" width="50" height="50"></a></li>
    <li class="list-inline-item"><a target="_blank" href="https://github.com/eslamghazi"><img
          src="assets/svgs/github.svg" alt="facebook" width="50" height="50"></a></li>
  </ul>
</footer>